.App {
  text-align: center;
  background: rgb(255,255,255);
background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(103,170,207,1) 100%);
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#Int{
  width: 100%;
  margin-bottom: 10px;
}
formualrio {
  text-align: -webkit-center;
}

span {
  display: block;
  font-family: monospace;
  white-space: nowrap;
  border-right: 4px solid;
  width: 12ch;
  
  animation: typing 2s steps(12), blink .5s infinite step-end alternate;
  overflow:hidden;
  }
  
  @keyFrames typing {
  
  from { width: 0}
  }
  
  @keyFrames blink {
   50% { border-color: transparent}
  }
  